[flake8]
max-line-length = 120
ignore = E203, W503, E501, D107
select = F, B, C90, I
exclude =
    .git,
    __pycache__,
    .venv,
    .mypy_cache,
    .pytest_cache,
    venv,
    migrations,
    docs,
    build,
    dist,
per-file-ignores =
    tests/*:S101,
    **/migrations/*:ALL